<header class='app-header'>
  <div class="header-main-row">
    <h1>Ciaocine: {{pageTitle}}</h1>
    <span class="collapse-toggle hamburger" data-target="main-nav" role="switch">
      <span class="hamburger-inner"></span>
    </span>
  </div>
  <div class="mobile-collapsible collapsed" id="main-nav">

  <nav aria-label='main navigation'>
    <a href='/'>Home</a>
    <a href='/cinema'>Cinemas</a>
    <a href='/movies'>Movies</a>
  </nav>
  <div class="account-header">
    {{#if @root.user.isLoggedIn}}
      <nav aria-label='account navigation'>
        <a href='/calendar'>Calendar</a>
        <a href='/auth/logout'>Logout</a>
      </nav>
      {{> profilePicture }}
    {{else}}
      <nav aria-label='login or signup'>
        <a href='/auth/login'>Login</a>
        <a href='/auth/signup'>Signup</a>
      </nav>
    {{/if}}
  </div>
  </div>
</header>