<div class='movie-showtime overlay-container {{class}}'>
    <h4>
        {{time startTime}}
    </h4>
    <div class="overlay">
        {{> addToCalendar showtime=this}}
        <p class="extra-info">
        <span>
            {{cinema.name}}
        </span>
        </p>
    </div>
</div>