<div class='movie-showtime overlay-container {{class}}'>
    <h4>
        {{time startTime}}
        {{#if showDate}}
            {{date startTime}}
        {{/if}}
    </h4>
    {{#if cinema.name}}
    <div class="overlay">
        {{> addToCalendar showtime=this}}
        <p class="extra-info">
        <span>
            {{cinema.name}}
        </span>
        </p>
    </div>
    {{/if}}
</div>