<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>{{appTitle}} — {{pageSubtitle}}</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <script src='https://unpkg.com/axios/dist/axios.min.js'></script>
  </head>
  <body>
    {{> header}}
    <main>
      {{{body}}}
    </main>

    <footer>
      This website is not commercial in any way. For full licence information, find&nbsp;<a href="https://gtihub.com/rjkerrison/ciaocine">the project on Github</a>. &copy; Robin James Kerrison 2022
    </footer>

    {{#> toast}}
      Congratulations!
    {{/toast}}

    <script type="module" src='/js/script.js'></script>
  </body>

</html>