* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  background-image: linear-gradient(#1c153a 0, #34276c 50vh, #533ea7 100vh);
  background-attachment: fixed;
  color: #e6e3f4;
  max-width: 100vw;
  overflow-x: hidden;
}

section {
  padding: 0.5rem 0.5rem;
}

a {
  color: #00b7ff;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Courier New', Courier, monospace;
}

picture {
  display: block;
  max-width: 10rem;
}
picture img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-size: 1.25rem;
  color: #1c153a;
  padding: 0.25rem;
  margin: 0.125rem;
  border-radius: 0.25rem;
  transition: all 500ms;
  cursor: pointer;
  background-color: #8ad38a;
  border: 1px solid #533ea7;
  box-shadow: 0rem 0.5rem 0.5rem -0.25rem #e5ccf091;
}
button:hover {
  background-color: #96dc96;
  transform: translateY(-0.125rem);
  border: 1px solid #3d2a8a;
  box-shadow: 0rem 0.75rem 0.5rem -0.25rem #e5ccf091;
}

.sr-only {
  font-size: 0;
}

footer {
  display: flex;
  padding: 2rem 1rem 1rem;
}

main {
  width: 100%;
  overflow-x: hidden;
}

.mobile-collapsible {
  height: calc(100vh - 5rem);
  transition: all 1s ease-in-out;
  overflow-y: hidden;
}

@media screen and (max-width: 599px) {
  .mobile-collapsible.collapsed {
    height: 0;
  }
}

@media screen and (min-width: 600px) {
  .mobile-collapsible {
    height: unset;
  }
  .mobile-collapsible.collapsed {
    height: unset;
  }

  .collapse-toggle {
    display: none;
  }
  section {
    padding: 1rem 2rem;
  }
}
