body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.showtimes {
  display: flex;
}
.showtime {
  background: black;
  color: white;
  border-radius: 4px;
}

picture {
  display: block;
  max-width: 10rem;
}
picture img {
  display: block;
  max-width: 100%;
  height: auto;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: all 1s;
  font-size: 2rem;
}

.popup {
  width: 50%;
  background: #8ad38a;
  box-shadow: 0.5rem 0.5rem 0.25rem -0.25rem #8ad38a67;
  padding: 1rem;
  border-radius: 1rem;
}

.popup-container.bye-bye-bye {
  left: -100%;
}

.cinema-list {
  list-style: none;
  display: grid;
  grid-template: repeat(7, 1fr) / repeat(5, 1fr);
  gap: 1rem;
}

.cinema-list .cinema {
  box-shadow: 0.25rem 0.25rem 0.5rem -0.25rem #8ad38a67;
}

.member-card-list {
  display: flex;
  padding: 0;
  gap: 0.25rem;
  list-style: none;
}

.member-card {
  padding: 0.125rem;
  border-radius: 0.25rem;
  background-color: black;
  color: white;
}
