body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  background-image: linear-gradient(#1c153a 0, #34276c 50vh, #533ea7 100vh);
  background-attachment: fixed;
  color: #e6e3f4;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.showtimes {
  display: flex;
}
.showtime {
  background: black;
  color: white;
  border-radius: 4px;
}

picture {
  display: block;
  max-width: 10rem;
}
picture img {
  display: block;
  max-width: 100%;
  height: auto;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: all 1s;
  font-size: 2rem;
}

.popup {
  width: 50%;
  background: #8ad38a;
  box-shadow: 0.5rem 0.5rem 0.25rem -0.25rem #8ad38a67;
  padding: 1rem;
  border-radius: 1rem;
}

.popup-container.bye-bye-bye {
  left: -100%;
}

.cinema-list {
  list-style: none;
  display: grid;
  grid-template: repeat(7, 1fr) / repeat(5, 1fr);
  gap: 1rem;
}

.cinema-list .cinema {
  box-shadow: 0.25rem 0.25rem 0.5rem -0.25rem #8ad38a67;
}

.member-card-list {
  display: flex;
  padding: 0;
  gap: 0.25rem;
  list-style: none;
}

.member-card {
  padding: 0.125rem;
  border-radius: 0.25rem;
  background-color: black;
  color: white;
}

.showtimes-grouping {
  display: grid;
  grid-template-columns: 1fr repeat(100, 10rem);
  grid-auto-flow: row;
  row-gap: 1rem;
}

.showtime-for-group {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

.group-heading {
  grid-row: span 3;
}

.group-heading h2 {
  transform: rotate(-0.25turn);
  transform-origin: 75% 200%;
}

.showtimes {
  display: contents;
}

.showtime {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}

button {
  font-size: 1.25rem;
  color: #1c153a;
  padding: 0.25rem;
  margin: 0.125rem;
  border-radius: 0.25rem;
  transition: all 500ms;
  cursor: pointer;
  background-color: #8ad38a;
  border: 1px solid #533ea7;
  box-shadow: 0rem 0.5rem 0.5rem -0.25rem #efec4291;
}
button:hover {
  background-color: #96dc96;
  transform: translateY(-0.125rem);
  border: 1px solid #3d2a8a;
  box-shadow: 0rem 0.75rem 0.5rem -0.25rem #efec4291;
}

.sr-only {
  font-size: 0;
}
